# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
GameEngine/.vs/*
GameEngine/out/*
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/f61d7e137738afcd/PARTICLEBUOYANCY.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/e3911a51ea369a9f/ANCHOREDSPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/d99c22ad4365f10b/PARTICLEBUOYANCYFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/b88894890450b8b4/GRAVITYFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/b6b83a9e2eaadf84/FORCEREGISTER.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/aec67648030e4b53/DRAGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/aa8b00246c7dde28/GRAVITYFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/93f5a76f390afe27/PARTICLESPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/8555770745a7a780/PARTICLE.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/79ee1f3ea43ed78f/MAIN.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/71bdc34d79da052c/BUNGEESPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/5e801542aa20fd50/GAMEWORLD.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/5ca00e7db9af448a/INPUTSMANAGER.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/55b4b3458268fde6/VECTOR3.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/5013d53c0c44e696/PARTICLEBUOYANCYFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/4fcbdfce3e37de1/BUNGEESPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/4880bc1ab81a7e79/ANCHOREDSPRING.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/46ca6a35b8b1d9f0/PARTICLESTIFFSPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/466c3377842ac404/ANCHOREDSPRING.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/3d34c80e60ac9420/GAMEWORLD.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/3c4ac620320459ad/PARTICLESTIFFSPRINGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/30972e188d1ce5ea/BUNGEESPRING.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/1903a3fc11ffb22e/DRAGFORCEGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/ipch/AutoPCH/14ec84adf25af64d/PARTICLESTIFFSPRINGGENERATOR.ipch
/.vs/MathsPhy-UQAC/v16/Browse.VC.opendb
/.vs/MathsPhy-UQAC/v16/Browse.VC.db
/.vs/MathsPhy-UQAC/v16/.suo
